h1{
    color: rgb(49, 255, 135);
    font-family: cursive;
    font-size: 30px;
}

p{
   color: rgb(255, 255, 255);
   font-size: 22px;
   font-family: 'Courier New', Courier, monospace;
}
header {
    background: rgba(0, 245, 94, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Cursive;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color:#ffffff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #85ff9f;
  }

nav ul li:hover > .menu {
  display:block;
  
}

.menu {
  background-color: rgba(136, 247, 155, 0.5 );
  position: absolute;
  display: none;
  list-style: none;
  padding: 0%;
}

.menu li{
  float: none;
}

.menu li a{
  display: block;
  padding: 15px 15px 15px 20px;
}
